@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,300;0,500;1,700&display=swap');

:root {
  --orange: #DC7647;
  --brown: #55433B;
  --white: #F3F3F3;
  --green: #50A34F;
  --darkgreen: #106F1E;
  --tan: #F0E8DB;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

body {
  font-family: 'Poppins';
  font-weight: 300;
  background-color: var(--tan);
}

.dashboard,
.profile,
.saved-recipe {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-header,
.friends {
  font-family: 'Pacifico';
}